@use 'sass:math';
@use '../1-helpers/functions';
@use '../1-helpers/mixins';
@use '../1-helpers/vars';
@use '../4-modules/buttons';

.volunteers-list {
  padding: vars.$base-size * 2;
  border: solid vars.$border;
  border-radius: 1rem;
  text-align: left;
  width: 100%;

  @include mixins.media-queries(mobile, min) {
    width: functions.colWidth(12);
  }

  ul {
    list-style-position: inside;
    padding-left: 0;
  }
}
